:root {
  --font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;

  --bg-main: #0f172a;
  --bg-card: #8a9ebc;
  --bg-demo: #0f172a;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
  --text-muted: #64748b;

  --color-js: #f7df1e; /* Amarelo JS */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-main);
  color: var(--text-primary);
  line-height: 1.6;
  padding-bottom: 50px;
}

.card-section {
  background-color: var(--bg-card);
  border: 1px solid #334155;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
  width: 300px;
}